<!--Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/-->
<!DOCTYPE html>
<html>
<head>
<title> Sarvodaya Youth Foundation</title>
    <meta name="Keywords" content="Sarvodaya Youth Foundation,Contact Us">
    <meta name="description" content="Sarvodaya Youth Foundation, Contact Us">
    <meta name="google-site-verification" content="aQwXd751sUsvdNY2eXsfLRTgNucTVjX2qeqowKftPAg" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!--web-fonts-->
<!--js-->
<script src="js/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
	</script>
<!-- //end-smoth-scrolling -->
</head>
<body>
<!--header start here-->
<div class="mother-grid">
	<div class="container">
		<div class="header">
			<div class="header-left">
			       <a href="index.html"> <img src="images/syf.jpg" class="logo"></a>
				   <a href="index.html"> <img src="images/logo.png"> </a>
			</div>
			<span class="menu"> <img src="images/icon-1.png"></span>
			<div class="clear"> </div>
			<div class="header-right">
				  <ul class="res"> 
				  	   <li><a href="about.html">ABOUT US</a></li>
				  	   <!-- <li><a href="whatwedo.html">WHAT WE DO</a></li> -->
				  	   <!-- <li><a href="#">GETINVOLED</a></li> -->
				  	   <!-- <li><a href="give.html">GIVE</a></li> -->
				  	   <li><a class="active" href="contact.html">CONTACT</a></li>
				  </ul>
				   <script>
			                                                      $( "span.menu").click(function() {
			                                                                                        $(  "ul.res" ).slideToggle("slow", function() {
			                                                                                         // Animation complete.
			                                                                                         });
			                                                                                         });
		                                                     </script>
			</div>
	<div class="clearfix"> </div>
		</div>
	</div>
</div>
<!--contact start here-->
<div class="contact" ng-app="myapp" ng-controller="auth">
	<div class="container">
		<div class="contact-main">
			   <h3>CONTACT US</h3>
			<div class="col-md-12 contact-left">
				<form ng-submit="sendemail(name,email,msg);">
					<div class="text">
					Name<input type="text" ng-model="name" required>
					</div>
					<div class="text">
					Email <input type="text" ng-model="email" required>
					</div>
					<div class="text">
					Message<textarea ng-model="msg" required></textarea>
					</div>
					<div class="text">
					<center><button type="submit">Send</button></center>
					</div>
				</form>
			</div>
			<!-- <div class="col-md-4 contact-right">
               <div class="contact-top">
                  <h3 style="font-size: 24px;">Sarvodaya Youth Foundation</h3>
                  <h4> <b>CONTACT INFO</b></h4>
                  <P>Office Address:</P>
                  <P>Flat No.-204 B-Block,Goel tower Faizabad Road</P>
                  <P>Near Satya Tiraha Ahshram,Lucknow.</P>
			   </div>
			   <div class="contact-top">
                  <P>President:</P>
                  <P>Sachin Singh</P>
					<p>Phone:9794897991,8957930918
					Add: Flat No. 605 D-Block 
					Goel Tower Faizabad Road
					Near Satya Tiraha Ahshram,Lucknow</P>
                  
			   </div>
			   <div class="contact-top">
                  <P>Secretary:</P>
                  <P>Ashish Raj Singh</P>
					<p>Phone: 7080009960
					Add: Flat No.-204 B-Block,
					Goel tower Faizabad Road
					Near Satya Tiraha Ahshram,Lucknow</P> 
			   </div>
		   </div> -->
	</div>
</div>
<hr>
	<div class="container">
		<div class="contact-main">
			<div class="col-md-4 contact-right">
               <div class="contact-top">
                  <h4><b>Office Address:</b></h4>
                  <P>Flat No.-204 B-Block,</P>
                  <p>Goel tower Faizabad Road</P>
                  <P>Near Satya Tiraha Ahshram,Lucknow.</P>
                  <p> PH:9794897991,7080009960</p><br>
			   </div>
			</div>
			<div class="col-md-4 contact-right">
			   <div class="contact-top">
                  <h4><b>President:</b></h4>
                  <P>Sachin Singh</P>
					<p>Phone:9794897991,8957930918</p>
					<p>Add: Flat No. 605 D-Block 
					Goel Tower Faizabad Road
					Near Satya Tiraha Ahshram,Lucknow</p><br>
                </div>      
			</div>
			<div class="col-md-4 contact-right">
			   <div class="contact-top">
                  <h4><b>Secretary:</b></h4>
                  <P>Ashish Raj Singh</P>
					<p>Phone: 7080009960</p>
					<p>Add: Flat No.-204 B-Block,
					Goel tower Faizabad Road
					Near Satya Tiraha Ahshram,Lucknow</p> 
			   </div>
		   </div>
		</div>
	</div>
</div>

</div>
<!--contact end here-->
<!--footer start here-->
<div class="footer">
	<div class="container">
		<div class="footer-main">
			<!-- <div class="col-md-4 footer-top">
				<h3>ABOUT US </h3>
				<p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate.</p>
				<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
			</div>
			<div class="col-md-2 footer-top">
				<h3>SITEMAP </h3>
				<ul>
					<li><a href="index.html"> HOME</a></li>
					<li><a href="about.html"> ABOUT</a></li>
					<li><a href="give.html"> DONATE</a></li>
					<li><a href="whatwedo.html"> WHAT WE DO</a></li>
					<li><a href="give.html"> GIVE</a></li>
					<li><a href="contact.html"> CONTACT US</a></li>
				</ul>
				<div class="clear fix"> </div>
			</div> -->
			<div class="col-md-8 footer-top">
				<h3>RECENT-NEWS</h3>
		       <div class="news">
		       	   <p>Working for Samajwadi Kisan Sarvhit Bima Yojna.</p>
		         <div class="col"> 
		           <p>POSTED ON NOV 18</p>
		         </div>
		       </div>
		       <div class="news">
		       	  <p>Working On The Project From Central Govt Digital India.</p>
		        <div class="col"> 
		          <p>POSTED ON NOV 18</p>
		        </div>  
		       </div>
		      <div class="clear fix"> </div>
			</div>
			<div class="col-md-4 footer-top">
				<h3> OUR ADDRESS</h3>
				<P>Flat No.-204 , </p>
				<p>B-Block Goel tower</p>
				<p>Faizabad Road Near Satya</p> 
				<p>Tiraha Ahshram,Lucknow</p>
				<p> PH:9794897991,7080009960</p>
				<p> EMAIL:<a href="sarvodayayouthfoundation@gmail.com"> sarvodayayouthfoundation@gmail.com</a></P>
			</div>
			<div class="clear fix"> </div>
		</div>
	</div>
</div>
<!--/footer end here-->
<!--copyrights start here-->
<div class="copyright">
	<div class="container">
		<div class="copy-right-main">
			<div class="col-md-8 copy-left">
				<p><b>2016 &copy Design by Ritesh & Ravi</b></p>
			</div>
			<div class="col-md-4 copy-left">
				<a href="https://www.facebook.com/sarvodaya.fooundation.9" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="#" target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
				<a href="#" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				<a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
				<a href="#" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
               
			</div>
			<script type="text/javascript">
									$(document).ready(function() {
										/*
										var defaults = {
								  			containerID: 'toTop', // fading element id
											containerHoverID: 'toTopHover', // fading element hover id
											scrollSpeed: 1200,
											easingType: 'linear' 
								 		};
										*/
										
										$().UItoTop({ easingType: 'easeOutQuart' });
										
									});
								</script>
					<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
			<div class="clearfix"> </div>
		</div>
	</div>
</div>
</body>
</html>
<script>
	var app=angular.module('myapp',[]);
	app.controller('auth',function($scope,$http){
		$scope.sendemail=function(name,email,msg){
			$http({
                method      : "POST",
                url         : "http://sarvodaya.herokuapp.com/send",
                dataType    : "json",
                data        :{ 
                'email'     :   email,
                'msg'       :   msg,
                'name'      :   name
                },
            }).then(function(response){
            	console.log(response.data);
            })
		};
	});
</script>